.header-theiacon-2021-event {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url('images/theiacon/theia-background-image.jpg');
  background-size: cover;
  height: 600px;
}

.featured-jumbotron {
  h1 {
    @media only screen and (min-width: 768px) {
      margin-right: -85px;
    }
    text-align: end;
    margin-top: 80px;
    text-shadow: 2px 2px #000;
    &:after {
      border: none;
    }
  }
}
