.header-theiacon-2021-event {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('images/theiacon/theia-background-image.jpg');
  background-size: cover;
}

.featured-jumbotron {
  text-shadow: 2px 2px #000;
  h1 {
    margin-bottom: 0;
    &:after {
      border: none;
    }
  }
  .headerCtn {
    h1 {
      @media (min-width: 768px) {
        text-align: end;
        margin: 60px 0 0;
      }
      margin-top: -25px;
      text-align: center;
    }
    h2 {
      @media (min-width: 992px) {
        font-size: 26px;
      }
      @media (min-width: 768px) {
        text-align: end;
        margin: 0 0 40px;
      }
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      margin-top: 120px;
    }
  }

  .list-inline {
    & {
      @media (min-width: 768px) {
        display: block;
      }
      display: flex;
      flex-direction: column;
    }
    .btn {
      width: 200px;
      text-shadow: none;
      margin-bottom: 15px;
    }
  }
}
