<div class="row white-row ">
  <div class="container">
    <div class="about-the-event-section">
      <h2 class="text-center margin-bottom-40">About the Event</h2>
      <p>
        Cloud Native for Eclipse Foundation (CN4EF) Day 2021 is a full-day of
        expert talks, demos, and thought-provoking sessions focused on
        enterprise applications implemented using Eclipse Foundation projects on
        Kubernetes -- from the cloud and all the way to the edge. The Eclipse
        Cloud Development Tools, Jakarta EE, MicroProfile, and Eclipse Edge
        Native communities will all be represented. CN4CF Day is co-located with
        KubeCon / CloudNativeCon North America 2021.
      </p>
    </div>
  </div>
</div>
